<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>BookLove</title>
</head>

<body>
    <header>
        <a href="./ingelogd">
            <h1>BookLove</h1>
        </a>
        <a href="./eigenprofiel"><img src="/images/Profile%20Large.png" alt="Profiel"></a>
        <a href="/berichten"><img class="berichten" src="/images/bericht.png" alt="Logo"></a>
    </header>
    <main>
        <section class="aanmelden">
            <h2 class="loginH2">Wordt lid en vindt jouw BookLove</h2>
            <p>Aan de hand van jouw voorkeur voor boeken vinden wij een match voor jou!</p>


            <form action="/profielPost" method="post" enctype="multipart/form-data">

                <label for="emailInlog">e-mail adres:</label>
                <input name="email" required id="emailInlog" type="email" placeholder="abc@email.com" class="formInput">
                <label for="passwordInlog">wachtwoord:</label>
                <input name="password" required id="passwordInlog" type="password" placeholder="wachtwoord" class="formInput">
                <label for="passwordInlogVerifieren">wachtwoord verifïeren:</label>
                <input name="passwordVerify" required id="passwordInlogVerifieren" type="password" placeholder="wachtwoord" class="formInput">
                <label for="naam">Voornaam:</label>
                <input name="naam" required id="naam" type="text">
                <label for="woonplaats">Woonplaats:</label>
                <input required name="woonplaats" type="text">
                <label for="geboortedatum">geboortedatum:</label>
                <input required name="geboortedatum" type="date">
                <label>Profielfoto:</label>
                <input required type="file" name="image" accept="image/jpeg">
                <p>Jij bent:</p>
                <input name="gebruikerGeslacht" id="isVrouw" value="vrouw" type="radio">
                <label for="isVrouw">Vrouw</label>
                <input name="gebruikerGeslacht" id="isMan" value="man" type="radio">
                <label for="isMan">Man</label>
                <p>Jij zoekt:</p>
                <input name="partnerGeslacht" id="zoektVrouw" value="vrouw" type="radio">
                <label for="zoektVrouw">Vrouw</label>
                <input name="partnerGeslacht" id="zoektMan" value="man" type="radio">
                <label for="zoektMan">Man</label>


                <input type="submit" value="aanmelden" class="formButton" id="inloggenSubmit">

            </form>


        </section>



    </main>
</body>
