<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>BookLove</title>
</head>

<body>
    <header>
        <a href="./ingelogd">
            <h1>BookLove</h1>
        </a>
        <a href="./eigenprofiel"><img src="/images/Profile%20Large.png" alt="Profiel"></a>
        <a href="/berichten"><img class="berichten" src="/images/bericht.png" alt="Logo"></a>
    </header>
    <main>
        <section class="aanpassen">
            <h2 class="loginH2">Pas hier je gegevens aan</h2>
                        
            <form action="/aanpassen" method="post">

                <label for="naam">Voornaam:</label>
                <input required name="naam" id="naam" type="text">
                <label for="woonplaats">Woonplaats:</label>
                <input required name="woonplaats" type="text">
                <label for="geboortedatum">geboortedatum:</label>
                <input required name="geboortedatum" type="date">
                <p>Jij bent:</p>
                <input required name="gebruikerGeslacht" id="isVrouw" value="vrouw" type="radio">
                <label for="isVrouw">Vrouw</label>
                <input required name="gebruikerGeslacht" id="isMan" value="man" type="radio">
                <label for="isMan">Man</label>
                <p>Jij zoekt:</p>
                <input required name="partnerGeslacht" id="zoektVrouw" value="vrouw" type="radio">
                <label for="zoektVrouw">Vrouw</label>
                <input required name="partnerGeslacht" id="zoektMan" value="man" type="radio">
                <label for="zoektMan">Man</label>
                
                
                <input type="submit" value="aanmelden" class="formButton" id="inloggenSubmit">
            
            </form>


        </section>



    </main>
</body>
