<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>BookLove</title>
</head>

<body>
    <header>
        <a href="/ingelogd">
            <h1>BookLove</h1>
        </a>
        <a href="/eigenprofiel"><img src="/images/Profile%20Large.png" alt="Profiel"></a>
        <a href="/berichten"><img class="berichten" src="/images/bericht.png" alt="Logo"></a>
        <a class="logout" href=/log-out>Log out</a>
    </header>
    <main>

        <section class="berichtenSection">
            <ul>
                <li>
                    <a href="/berichtendetail">
                       <img src="/images/Profile%20Large@2x.png" alt=""></a>
                    <h3>Suzanne</h3>
                </li>
                <li>
                    <a href="/berichtendetail">
                       <img src="/images/Profile%20Large@2x.png" alt=""></a>
                    <h3>Suzanne</h3>
                </li>
                <li>
                    <a href="/berichtendetail">
                       <img src="/images/Profile%20Large@2x.png" alt=""></a>
                    <h3>Suzanne</h3>
                </li>
                <li>
                    <a href="/berichtendetail">
                       <img src="/images/Profile%20Large@2x.png" alt=""></a>
                    <h3>Suzanne</h3>
                </li>
            </ul>


        </section>

    </main>
</body>
