<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>BookLove</title>
</head>

<body>
    <header>
        <a href="/ingelogd">
            <h1>BookLove</h1>
        </a>
        <a href="/eigenprofiel"><img src="/images/Profile%20Large.png" alt="Profiel"></a>
        <a href="/berichten"><img class="berichten" src="/images/bericht.png" alt="Logo"></a>
    </header>
    <main>
        <section class="inloggen hidden boekToevoegenSection">
            <h2>Voeg je boek toe</h2>
            <form action="./eigenprofiel">
                <label for="titel">Titel</label>
                <input required id="titel" placeholder="In Europa" class="formInput">
                <label for="auteur">Auteur</label>
                <input required id="auteur" placeholder="Geert Mak" class="formInput">
                <label for="isbn">ISBN (Optioneel)</label>
                <input id="isbn" placeholder="9872987547" class="formInput">
                <input type="submit" value="toevoegen" class="boekToevoegenSubmit" id="inloggenSubmit">
            </form>
        </section>
        <section class="eigenProfielSection">

            <img class="kandidaad" src="/images/Profile%20Large.png" alt="geert mak">
            <h2>Loc</h2>
            <img class="editButton" src="/images/edit@2x.png" alt="edit">
            <h3>Beschrijving:</h3>
            <p>Ik ben een fervent lezer en houd vooral van historische romans.</p>
            <h4>Woonplaats:</h4>
            <p>Amsterdam</p>
            <h4>Geboortedatum:</h4>
            <p>15-07-1990</p>
            <h4>Jouw bibliotheek:</h4>
            <ul>
                <li><img src="/images/de%20levens%20van%20jan%20six.jpg" alt=""></li>
                <li><img src="/images/rijzen%20zonder%20john.jpg" alt=""></li>
                <li><img src="/images/verleden%20van%20nederland.jpg" alt=""></li>
                <li><img src="/images/de%20levens%20van%20jan%20six.jpg" alt=""></li>
                <li><img src="/images/rijzen%20zonder%20john.jpg" alt=""></li>
                <li><img class="boekToevoegen" src="/images/add@2x.png" alt="" ></li>
            </ul>
        </section>
    </main>
    <script src="/javaprofielstap2.js"></script>
</body>
