<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>BookLove</title>
</head>

<body>
    <header>
        <h1>BookLove</h1>
        <a href="./eigenprofiel.ejs"><img src="/images/Profile%20Large.png" alt="Profiel"></a>
        <a href="./berichten.ejs"><img class="berichten" src="/images/bericht.png" alt="Logo"></a>
    </header>
    <main>


        <section>

            <a href="./kandidaadprofiel.ejs"><img class="kandidaad" src="/images/Profile%20Large.png" alt="geert mak"></a>
            <h2>Suzanne</h2>
            <h3>match 95%</h3>
            <ul>
                <li><img src="/images/de%20levens%20van%20jan%20six.jpg" alt=""></li>
                <li><img src="/images/rijzen%20zonder%20john.jpg" alt=""></li>
                <li><img src="/images/verleden%20van%20nederland.jpg" alt=""></li>
            </ul>

        </section>
        <section>

            <a href="./kandidaadprofiel.ejs"><img class="kandidaad" src="/images/Profile%20Large.png" alt="geert mak"></a>
            <h2>Merel</h2>
            <h3>match 80%</h3>
            <ul>
                <li><img src="/images/de%20levens%20van%20jan%20six.jpg" alt=""></li>
                <li><img src="/images/rijzen%20zonder%20john.jpg" alt=""></li>
                <li><img src="/images/verleden%20van%20nederland.jpg" alt=""></li>
            </ul>

        </section>
        <section>

            <a href="./kandidaadprofiel.ejs"><img class="kandidaad" src="/images/Profile%20Large.png" alt="geert mak"></a>
            <h2>Marlies</h2>
            <h3>match 75%</h3>
            <ul>
                <li><img src="/images/de%20levens%20van%20jan%20six.jpg" alt=""></li>
                <li><img src="/images/rijzen%20zonder%20john.jpg" alt=""></li>
                <li><img src="/images/verleden%20van%20nederland.jpg" alt=""></li>
            </ul>

        </section>
    </main>
    
</body>
